body {
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  background: #C8A2C8;
  color: white;
  padding: 0;
  }

.header {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  color: black;
  }
  
