body {
    background-color: #DDDBF1;
    color: black;
    padding: 50px 0;
}
h1{
    text-align: center;
    font-family: 'Lobster', cursive;
}
h2{
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Lobster', cursive;
}
.header{
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;  
    background-color: #5070b1;
    justify-content: space-around;
    
}
.header img{
    width: 300px;
    height:100px;
    padding: 4px;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.wrapper > .container > div{
    margin-right: 15px;
}
.first{
    margin-bottom: 5px;
    flex-direction: row;
}
.header{
    font-family: 'Lobster', cursive;
}

.first img
{
    display: flex;
    border-style: round;
    border-radius: 4px;
    border: solid 1px black;
    width: 199px;
    height: 200px;
}

.first p {
    border: 10px;
    border-radius: 1px;
    padding: 4px;
    flex: 0 1 auto;
   
}

@media screen and (max-width: 960px)
{
    .wrapper > .container > div{
        justify-content: center;
        flex: 1 0 auto;
        margin-right: 0px;
    }
}
@media screen and (max-width: 1000px)
{
    .container{
        justify-content: center;
    }
    .wrapper > .container > div{
        margin-right: 0px;
    }
}